.App {
  font-family: sans-serif;
  text-align: center;
}

.box {
  background: #ba8c63;
  border: solid;
  outline: none;
  cursor: pointer;
  height: 100%;
  font-size: 30px;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  border: 1px solid;
}
.board {
  display: flex;
  flex-direction: column;
}

.whole {
  justify-content: center;
  align-items: center;
  display: flex;
}
.co {
  color: white;
}
